<ul>
    <li><a href="./index.hbs">Inicio</a></li>
    <li><a href="./productos.hbs">Productos</a></li>
</ul>

<h1>Inicio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita praesentium aspernatur voluptatibus. Quam tempora incidunt, exercitationem tenetur, minima adipisci quod id aliquid eius impedit a ullam. Illum similique eius esse!</p>
